* {
  box-sizing: border-box;
}
body {
  font-family: monospace;
}
h1 {
  text-align: center;
}
button {
  background-color: navy;
  color: white;
  height: 100%;
  padding: 5px 4px;
  min-width: 48px;
  margin: auto;
}
button.start-game {
  position: absolute;
  top: 23.5vh;
  left: 30.5vw;
  z-index: 100;
  height: 10vh;
  width: 40vw;
}
.hidden {
  display: none;
  z-index: -1;
}
/*
 * Main Container
 */
#players-turn {
  text-align: center;
  color: red;
  background-color: navy;
}
/*
 * Tic Tac Toe Board
 */
#board {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}
table {
  border-collapse: collapse;
}
#board table,
#board td {
  min-width: 90px;
  height: 90px;
}
.top-line td {
  border-bottom: 1px solid black;
}
.middle-line td {
  border-bottom: 1px solid black;
}
#td2, #td3, #td5, #td6, #td8, #td9 {
  border-left: 1px solid black;
}
.board-piece {
  display: block;
  max-width: 85px;
  margin: auto;
}
/*
 * Player info
 */
.player-info {
  border: 3px solid navy;
  display: flex;
  flex-wrap: wrap;
 }
 .player1-container, .player2-container {
  padding: 5px;
  margin: auto;
  font-size: 20px;
  font-weight: 550;
  display: inline-flex;
  align-items: center;
 }
.piece-example {
  width: 35px;
  padding: 5px;
}
/*
 * Scoreboard
 */
#scoreboard table,
#scoreboard th,
#scoreboard td {
  border: 3px solid navy;
}
#scoreboard {
  display: flex;
  flex-wrap: wrap;
}
#scoreboard table {
  margin: 10px auto;
  width: 80%
}
#scoreboard td {
  min-width: 80px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}
#reset-buttons {
  display: inline;
  margin: auto;
}
#reset-game,
#reset-scores {
  min-width: 130px;
  margin-left: auto;
  margin-right: auto;
}
/*
 * Popup Modal
 */
.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 50%;
  background-color: rgb(0,0,0);
  background-color: rgb(1,1,1,0.8)
}
.modal-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.form-modal {
  color: white;
  padding: 20px;
  border: 1px solid black;
  width: 90%;
}
.submit {
  display: inline;
  padding: 50px;
}
/*
 * Media quaries for responsive design
 */
 @media screen and (min-width: 600px) {
   #reset-buttons {
     width: 25%;
   }
   #scoreboard table {
     width: 70%
   }
   #board table,
   #board td {
     width: 120px;
     height: 120px;
   }
   .board-piece {
     max-width: 115px;
   }
 }
@media screen and (min-width: 750px) {
  .main-container {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
  }
  #board table,
  #board td {
    width: 160px;
    height: 160px;
  }
  .board-piece {
    max-width: 100%;
  }
}
