* {
  box-sizing: border-box;
}
body {
  font-family: monospace;
}
h1 {
  text-align: center;
}
/*
 * Main Container
 */
#players-turn {
  text-align: center;
  color: red;
  background-color: navy;
}
/*
 * Tic Tac Toe Board
 */
#board {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}
table {
  border-collapse: collapse;
}
#board table,
#board td {
    min-width: 70px;
    height: 70px;
}
.top-line td {
  border-bottom: 1px solid black;
}
.middle-line td {
  border-bottom: 1px solid black;
}
#td2, #td3, #td5, #td6, #td8, #td9 {
    border-left: 1px solid black;
}
/*
 * Player info
 */
.player-info {
  border: 3px solid navy;
  display: flex;
  flex-wrap: wrap;
 }
 .player-one, .player-two {
  padding: 5px;
  margin: auto;
  font-size: 20px;
  font-weight: 550;
 }
 #change-player-info {
   background-color: navy;
   color: white;
   height: 100%;
   padding: 5px 4px;
   min-width: 48px;
   margin: auto;
 }
 .piece-example {
   width: 30px;
 }
/*
 * Scoreboard
 */
#scoreboard table,
#scoreboard th,
#scoreboard td {
    border: 1px solid black;
}
/*
 * Popup Modal
 */
.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 50%;
  background-color: rgb(0,0,0);
  background-color: rgb(1,1,1,0.8)
}
.modal-container {
  display: none;
  flex-wrap: wrap;
  justify-content: center;
}
.form-modal {
  color: white;
  padding: 20px;
  border: 1px solid black;
  width: 90%;
}
.submit {
  display: inline;
  padding: 50px;
}
